<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                
            </th>
            <th>Name</th>
            <th>Price</th>
            <th>Units in stock</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let temProduct of products" class="align-middle">
                <td><img src="{{temProduct.imageUrl}}" height="50" ></td>
                <td>{{temProduct.name}}</td>
                <td>{{temProduct.unitPrice | currency:'USD'}}</td>
                <td>{{temProduct.unitsInStock}}</td>
            </tr>
    </tbody>
</table>